/* EXPENSE MANAGER
Design and implement a sytem to keep a track of the income you are receiving and the expenditure you are making
Should be able to add all the money earned from various sources (Eg: Salary - Rs 50,000)
Should be able to record all the expenses made (Eg: Rent - Rs 10,000)
Should show the total money earned and spent along with the balance amount
Should show an indication (probably with different style when the balance is running low) */

#btn_id {
    margin: 20px auto;
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    background-color: #185eb3;
    color: white;
    font-size: large;
}

form>label {
    display: block;
    width: 25%;
    float: left;
    font-size: xx-large;
    color: #185eb3;
    font-family: sans-serif;
}

form>input, form>select {
    display: block;
    width: 20%;
    height: 38px;
    border-radius: 2px;
    font-size: x-large;
    float: left;
    margin: 5px 5% 5px 0px;
}

table~label {
    display: block;
    width: 21%;
    font-size: x-large;
    float: right;
    margin: 60px 87px;
    background-color: rgb(115, 159, 218);
    color: beige;
    border-radius: 2px;
    padding: 10px;
}

body>div {
    width: 90%;
    height: 120px;
    margin: 10px auto;
    padding: 2%;
    margin: 10px auto;
    background-color: #f0ebdc;
    overflow: auto;
}

body>div:nth-child(2) {
    height: 500px;
}

table {
    width: 95%;
    font-size: x-large;
    background-color: #ffffff;
    font-family: sans-serif;
    border-collapse: collapse;
}